[buildout]
develop = .
parts = test
extensions = mr.developer
auto-checkout = *
always-checkout = true
sources-dir = checkouts


[sources]
crom = git https://github.com/Cromlech/crom.git
grokker = git https://github.com/Cromlech/grokker.git


[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
    sys.argv.append('--doctest-modules')
eggs =
    pytest
    cromlech.content [test]
